/*
rgb(218, 105, 0)
*/

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: rgb(56, 56, 56);
  margin: 0 auto;
  background-color: rgba(250, 235, 215, 0.575);
}
.contents {
  max-width: 120rem;
  margin: 0 auto;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.5rem 3.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
